.left-pic,
.right-pic,
.feature-container,
.feature-text {
    display: flex;
}

.feature-container,
.feature-text {
    flex-direction: column;
}


.feature-section {
    margin: 15% auto;

        .left-pic {
            margin-bottom: 30px;
        }

}




.feature-text {
    background-color: $background-color; 
    text-align: center;
    justify-content: center;
    height: 100%;

        a {
            background-color: $accent-color;
            align-self: center;
            padding: 5px 20px;
            border-radius: 5px;
        }

        h2 {
            text-transform: uppercase;
            color: $text-color;
        }
}


