footer {
    background-color: $background-color;
    
    .footer-container {
        height: 40vh;
        align-items: center;
        border-bottom: 2px solid darkgray;
        justify-content: space-between;

            p {
                width: 30%;
            }

    }
}


.footer-container,
.links-container {
    display: flex;
}

.links-container {
    width: 100%;
    justify-content: space-around;
}

.copyright {
    margin: 10px auto;
}