@import 'setup';
@import 'variables';
@import 'header';
@import 'feature';
@import 'gallery';
@import 'footer';
// Default Styling

html {
    font-size: 62.5%;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

ul,
li,
a,
p,
h1,
h2,
button,
footer {
    margin: 0;
    padding: 0;
    border: none;
}

ul,
li,
a {
    list-style-type: none;
    text-decoration: none;
}

body {
    font-family: $body-font;
    line-height: 1.6;
    @include font-size(20);
}

.wrapper {
    max-width: 1180px;
    margin: 0 auto;
    width: 90%;
}
