@import 'setup';
@import 'variables';
@import 'header';
@import 'feature';
@import 'gallery';
@import 'footer';
// Default Styling

html {
    font-size: 62.5%;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

ul,
li,
a,
p,
h1,
h2,
button,
footer {
    margin: 0;
    padding: 0;
    border: none;
}

ul,
li,
a {
    list-style-type: none;
    text-decoration: none;
}

body {
    font-family: $body-font;
    line-height: 1.6;
    @include font-size(16);
}

.wrapper {
    max-width: 1140px;
    width: 90%;
    margin: 0 auto;
}

.logo {
    @include font-size(38);
    color: $logo-color;
    text-transform: lowercase;
    font-weight: 700;
}

h1 {
    @include font-size(68);
    color: $heading-color;
    font-weight: 700;
}

a {
    @include font-size(19);
    color: $heading-color;
    text-transform: uppercase;
    font-weight: 700;
}

.large-p {
    @include font-size(39);
    color: $heading-color;
    font-weight: 700;
}

h2 {
    text-transform: uppercase;
    color: $text-color;
}

footer p,
.copyright  {
    @include font-size(20);
    color: $text-color;
    font-weight: 500; 
}

