article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

header {
  background-image: url(../assets/image-main.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.nav-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px;
}

.nav-wrap .nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.nav-wrap .nav-menu li {
  padding: 5px 20px;
}

.nav-wrap .nav-menu li:last-of-type:hover {
  background-color: #16D6D1;
  border-radius: 5px;
}

h2 {
  text-transform: uppercase;
  color: #777777;
}

.feature-section {
  margin: 15% auto;
}

.feature-text {
  background-color: #F6F8FA;
  text-align: center;
}

.left-pic,
.right-pic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.left-pic {
  margin-bottom: 20px;
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.two-pic:first-of-type {
  margin-right: 20px;
}

footer {
  background-color: #F6F8FA;
}

footer .footer-container {
  height: 40vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 2px solid darkgray;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-container,
.links-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

html {
  font-size: 62.5%;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

ul,
li,
a,
p,
h1,
h2,
button,
footer {
  margin: 0;
  padding: 0;
  border: none;
}

ul,
li,
a {
  list-style-type: none;
  text-decoration: none;
}

body {
  font-family: "Raleway", sans-serif;
  line-height: 1.6;
  font-size: 1.6rem;
}

.wrapper {
  max-width: 1140px;
  width: 90%;
  margin: 0 auto;
}

.logo {
  font-size: 3.8rem;
  color: #005769;
  text-transform: lowercase;
  font-weight: 700;
}

h1 {
  font-size: 6.8rem;
  text-transform: lowercase;
  color: #333333;
  font-weight: 700;
  width: 65%;
  margin: 15% 0;
}

a {
  font-size: 1.9rem;
  color: #333333;
  text-transform: uppercase;
  font-weight: 700;
}

.large-p {
  font-size: 3.7rem;
  color: #333333;
  font-weight: 700;
  line-height: 1.4;
}

footer p,
.copyright {
  font-size: 2rem;
  color: #777777;
  font-weight: 500;
}
